# Игнорировать загруженные картинки пользователей
static/uploads/*

# Но (важно!) не игнорировать файл .gitkeep, чтобы сама папка uploads осталась
!static/uploads/.gitkeep

# Игнорировать мусор Python (скомпилированные файлы)
__pycache__/
app/__pycache__/
*.pyc

# Игнорировать виртуальное окружение
.venv/
venv/
env/

# Игнорировать локальные настройки с паролями
.env

# Игнорировать твои папки с бэкапами (которые я видел в дереве)
stable ver/