version: '3.8'

services:
  web:
    build: .
    container_name: adiletyu_app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    restart: always  # <--- ВАЖНО: Перезапуск при ошибке
    volumes:
      - .:/code:z
      - ./static:/code/static:z
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: adiletyu_db
    restart: always  # <--- ВАЖНО
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    env_file:
      - .env

volumes:
  postgres_data: